@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #root {
        @apply text-black bg-white dark:text-white dark:bg-black h-full w-full duration-300 transition-colors;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}
