@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #root {
        @apply mx-auto flex flex-col min-h-screen max-w-[872px] gap-9 md:gap-20 md:py-16;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}
