@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #root {
        @apply text-zinc-black bg-zinc-white dark:text-zinc-white dark:bg-zinc-black h-full w-full duration-300 transition-colors;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}
